html,body {
  height: 100%;
  width: 100%;
}

html {
  font-family: 'Nunito Sans';
  color: #111517;
}

body {
  background-color: #fafafa;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

}

header h1 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

header button {
  font-family: 'Nunito Sans';
  border: 0px;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

header i {
  padding-right: 5px;
}

.main-line {
  margin-top: 35px;
  padding-left: 80px;
  padding-right: 80px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.searchBar {
  background-color: white;
  width: 300px;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.fa-magnifying-glass{
  color: #909090;
  font-size: 12px;
  padding-right: 10px;
}

.searchBar input {
  font-family: 'Nunito Sans';
  border: 0px;
  font-size: 12px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #909090;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #909090;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #909090;
}

.select-menu .select-btn {
  display: flex;
  background: white;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 10px;
  font-weight: 600;
  color: #111517;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-btn i {
  font-size: 10px;
  padding-left: 35px;
}
.select-btn:hover + .options {
  display: block;
}
.select-menu .options {
  padding-left: 20px;
  padding-right: 86px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 1px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  display: none;
  position: absolute;
}

.options .option {
  display: block;
  cursor: pointer;
  border-radius: 5px;
  background: white;
}

.options .option:hover {
  background: #fafafa;
}

.option .option-text {
  font-size: 10px;
  font-weight: 600;
  color: #111517;
}

.column {
  width: 200px;
}

.cards {
  margin-top: 33px;
  padding-left: 80px;
  padding-right: 80px;
  display: grid;
  gap: 45px;
  background-color: #fafafa;
}


.card-box {
  border-radius: 3px;
  object-fit: cover;
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.img {
  height: 115px;
  width: 200px;
  object-fit: cover;
  border-radius: 3% 3% 0% 0%;
}

.card_body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 20px;
}

h5{
  
  font-size: 12px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 12px;
}
h6{
  font-size: 10px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 6px;
}
.strong-style{
  font-weight: 700;
}

@media (min-width: 300px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

@media (max-width: 800px) {
  header { 
    padding-left: 30px;
    padding-right: 30px; 
  }
  .main-line {
    padding-left: 30px;
    padding-right: 30px;
  }
  .cards {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 600px) {
  header { 
    padding-left: 10px;
    padding-right: 10px; 
  }
  .main-line {
    padding-left: 10px;
    padding-right: 10px;
    height:115px;
    display: block;
  }

  .cards {
    padding-left: 10px;
    padding-right: 10px;
  }
  .searchBar {
    width: 75%;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 8px;
  }

  .select-menu .select-btn {
    width: 55%;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  .select-menu .options {
    width: 55%;
    padding-left: 20px;
    padding-right: 0px;
  }

}

@media (max-width: 430px) {
  .cards {
      padding-left: 50px;
  }
  .main-line {
      height:115px;
      display: block;
      padding-left: 50px;
    }
  .searchBar {
      width: 90%;
  }

  .column {
    width: 230px;
  }
  .card-box .img {
    width: 230px;
  }
}


